body {

    background-color: #131313
        /*rgb(184, 183, 236)*/
    ;
    font-family: "JetBrains Mono", monospace;
    color: #ffa500;
}

h1 {
    color: #ffa500
        /*#27293d 
        #00ff0d */
    ;
    margin-top: 15px;
    margin-bottom: 0;
    padding: 0;
}

.tagline {
    margin: -5px 0 0 0;
    padding: 0px 0 0 0;
    font-size: 14px;
    color: #ffa500;
    letter-spacing: 0.5px;
}

.report-box {
    margin: 0;
    border: 3px #808080;
    border-style: double;
    border-radius: 2px;
    width: 335px;
    background-color: #131313;
    box-shadow: 0px 0px 4px 0px #000000;
}

.button-30 {
    align-items: center;
    appearance: none;
    background-color: #292929
        /*#FCFCFD*/
    ;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {

    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:hover:disabled {
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #808080 0 -3px 0 inset;
    transform: translateY(0px);
}

.button-30:disabled {
    color: #808080;
    text-decoration: line-through;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #808080 0 -3px 0 inset;
}


.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}



table {
    border-color: #808080;
    width: 340px;
    border-radius: 2px;
    font-size: 14px;
}

tbody {
    border: 1px solid #808080;
}



th {
    border: 1px solid #808080;
    padding: 5px 10px;
    text-shadow: 0.5px 0.5px 0.5px rgb(56, 55, 55);
}

td {
    color: #ffffff;
    border: 1px solid #808080;
    text-align: center;
    padding: 5px 10px;
}

#days-count-el {
    color: #fff
        /*rgb(38, 40, 43)*/
    ;
    margin-top: 0px;

}

#report-el {
    margin: 30px 0 0 0;
}

#today-date {
    font-size: 15px;
    text-decoration: underline;
    margin: 20px 0 0 0;
    color: #808080;
}

#percent-el {
    color: #ffa500;
    letter-spacing: -0.5px;
    margin: 10px 0 0 0;
}

.countdown-live {
    color: rgb(180, 180, 180)
        /*#3c3c46*/
    ;
    font-size: 13px;
    margin-bottom: 5px;
}


h5 {
    margin: 0px;
    color: rgb(180, 180, 180);
    font-weight: 200;
}


tbody:nth-child(even)>tr>td {
    background-color: #222222;
    color: #fff;
}


footer,
a {
    cursor: pointer;
    text-align: right;
    text-decoration: none;
    color: #ffa500;
    text-shadow: 0.3px 0.3px 0.2px rgb(90, 89, 89);
    font-size: 14px;
    font-weight: 200;
}

#clear {
    float: left;
}

footer {
    max-width: 400px;
}


#close {
    font-size: 14px;
    border-radius: 3px;
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    box-shadow: none;
    font-weight: 700;
    margin: 5px 0 0 0;
}

#open {
    border-radius: 3px;
    padding: 5px 10px;
    background-color: #fff;
    color: #000;
}

.modal-container {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: -50;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease-in-out;
}

.modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    background-color: #ffa500;
    color: #000;
    border-radius: 5px;
    padding: 20px 20px;
    width: 400px;
    max-width: 85%;

}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #131313;
}

.modal-body {
    text-align: left;
}

.modal-body p {
    font-size: 15px;
    margin: 5px 0;
    letter-spacing: -0.1px;
}


.modal-body hr {
    border-color: #ffa500;

    padding: 0;
    box-shadow: none;
}

.modal-header h3 {
    margin: 0;
}

#xBtn {
    margin-top: -5px;
    padding: 0;
    background-color: #ffa500;
    font-size: 24px;
    border: none;
}